*{

  box-sizing: border-box;

 }

h1{
  color: blue;
  text-align: center;
}

p {
  background-color: rgb(238, 174, 55);
  border: 2px solid black;
  height: 150px;
  margin-right: 10px;
  padding: 40px 10px 5px 10px;
  overflow: hidden;
}


#this-container {
  position: relative;
  
}

#this-para-1 {
  background-color: forestgreen;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 7px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

#this-para-2 {
  background-color:brown ;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 7px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

#this-para-3 {
 background-color: darkorchid;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 7px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.this-row-1 {
  width: 100%;

}


/********** For Large devices only **********/

@media (min-width: 992px) {
  .coloumn-l-04 {
    float: left;
  }
 
  .coloumn-l-04 {
    width: 33.33%;
  
  }

}

/********** For Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
   .coloumn-m-06, .coloumn-m-12 {
    float: left;
   
  }
  .coloumn-m-06 {
    width: 50%;
  }
 
  .coloumn-m-12 {
    width: 100%;
  }
}

/**********For Mobile device only **********/

@media (max-width: 767px) {
   .coloumn-s-12 {
    float: left;
  }

  .coloumn-s-12 {
    width: 100%;
  }

  
}